body {
  background-image: url("../images/backgroundimage.jpg");
}

h1 {
  background-color: white;
  border: 2px solid orange;
  font-family: "Acme", sans-serif;
  text-align: center;
  padding: 20px;
  font-size: 70px;
  margin-top: o;
}

#paragraphRowStyle {
  background-color: white;
  border: 1px solid green;
  text-align: center;
  padding: 10px;
  margin: 0px;
  font-family: "Source Code Pro", monospace;
}

#h3Styling {
  background-color: white;
  border: 1px solid green;
  text-align: center;
  margin: 0;
  font-family: "Source Code Pro", monospace;
}

#imageBackground {
  background-color: white;
  border: 1px solid green;
  padding: 20px;
  margin: 0;
}

.styleImages {
  text-align: center;
  width: 80px;
  height: 80px;
  padding: 20px;
}

#scoreStyling {
  background-color: white;
  border: 1px solid green;
  text-align: center;
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  font-family: "Source Code Pro", monospace;
}

#targetNumberStyle {
  background-color: white;
  border: 1px solid green;
  text-align: center;
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  font-family: "Source Code Pro", monospace;
}

footer {
  background-color: white;
  border: 2px solid orange;
  padding: 20px;
  text-align: center;
  font-family: "Acme", sans-serif;
  font-weight: bold;
  font-size: 20pt;
  margin-top: 30px;
  margin-bottom: 0;
}
