body {
  background-image: url("../images/backgroundimage.jpg");
}

h1 {
  background-color: white;
  border: 2px solid orange;
  font-family: "Shadows Into Light", cursive;
  text-align: center;
  padding: 20px;
  font-size: 70px;
}

#paragraphRowStyle {
  background-color: white;
  border: 2px solid green;
  text-align: center;
  padding: 10px;
}

#showNumber {
  background-color: white;
  border: 2px solid yellow;
  text-align: center;
  padding: 30px;
}
